@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  line-height: 1.5;
  font-weight: 400;
  width: 1100px;
  margin: 0 auto;
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #EAEAEA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
