.logout__button {
    width: 139px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #3799C3;
    font-size: 17px;
    font-weight: 600;
}